.ant-layout-header {
    display: flex;
}

.ant-layout.ant-layout-has-sider {
    height: 100%;
}

.username {
    flex: 1;
    size: 20px;
    text-align: right;
}

.content {
    background-color: white;
}
